* {
  box-sizing: border-box;
}

h1 .project-title {
  font-family: sans-serif;
  font-size: 80px;
  margin-left: 0em;
}

/* .card-project:hover {
  background-color: rgba(74, 70, 70, 0.742);
  opacity: 0.3;
} */

.card-project {
  margin: 10%;
  color: white;
}
