h1 {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}

h3 {
  color: white;
  font-family: sans-serif;
}

.card-header {
  background-color: #55678b;
  font-family: sans-serif;
}
.card-body {
  background-color: #55678b;
  /* pointer-events: none;  */
}

li {
  color: white;
}

.resume {
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  text-decoration: underline;
}

.resume:hover {
  color: rgb(18, 159, 220);
  font-size: 150%;
  font-family:sans-serif;
  text-decoration: none;
}